@font-face {
  font-family: "hylia-serif";
  src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}
@font-face {
  font-family: "zelda-digital";
  src: url("fonts/ReturnofGanon.ttf");
}
@font-face {
  font-family: "zelda-symbols";
  src: url("images/HylianSymbols.ttf");
}
* {
  box-sizing: border-box;
}
body{
  display: flex;
  margin: 0;
}
h1 {
  color: #fff;
  font-family: "hylia-serif", serif;
  font-size: 2em;
  font-weight: lighter;
  margin: 0px;
}
h2 {
  color: #fff;
  font-family: "zelda-symbols";
  font-size: 6em;
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
}
p{
  color: #fff;
  font-family: "zelda-digital", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1.1em;
}
main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 60%;
}
header {
  background-color: #59A59D;
  padding: 3vh 20px;
  width: 66.6666%;
}
header,
article {
  height: 33.3333vh;
}
article {
  width: 33.3333%;
  text-align: center;
}
section {
  align-items: center;
  background: url(images/master-sword.jpg);
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  width: 40%;
}
section img {
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  height: 50px;
  margin: 20px;
  width: 50px;
}
button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
  font-family: "zelda-digital", sans-serif;
  font-size: 1em;
  height: 30px;
  margin-right: 10px;
  width: 100px;
}
article img {
  display: block;
  height: 69px;
  margin: 25% auto 0 auto;
}
.article1{
  background-color: #0F0E0F;
}
.article2,
.article6{
  background-color: #87B86C;
}
.article3{
  background-color: #182708;
}
.article4{
  background-color: #59A59D;
}
.article5,
.article7{
  background-color: #22555A;
}

@media (max-width: 1250px) {
  main {
    height: 20vw;
    width: 66.6666%;
  }
  section {
    width: 33.3333%
  }
}

@media (max-width: 1000px) {
  body{
    flex-direction: column-reverse;
    width: 100%;
  }
  main {
    height: 20vw;
    width: 100%;
  }
  section {
    height: 25vw;
    width: 100%;
  }
}

@media (max-width: 680px) {
  main {
    flex-wrap: none;
  }
  header {
    height: fit-content;
    padding: 10px;
    width: 100%;
  }
  h1 {
    font-size: 1.5em;
  }
  h2,
  article img {
    margin-top: 35px;
  }
  p{
    font-size: 16px;
    margin: 5px 0;
  }
  article {
    height: 160px;
    width: 50%;
  }
  section {
    height: 160px;
  }
  button {
    font-size: 1em;
    margin-top: 6px;
  }
  .article1{
    width: 100%
  }
}